Practica 1/Whizz Hard Books/WindowsFormsApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://LocalHost/WebServiceBiblioteca" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://LocalHost/WebServiceBiblioteca" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para biblioteca</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://LocalHost/WebServiceBiblioteca">
      <s:element name="InsertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NuevoLibroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Prestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="libro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estudiante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="devolucion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrestamoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="NuevoLibroSoapIn">
    <wsdl:part name="parameters" element="tns:NuevoLibro" />
  </wsdl:message>
  <wsdl:message name="NuevoLibroSoapOut">
    <wsdl:part name="parameters" element="tns:NuevoLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta" />
  </wsdl:message>
  <wsdl:message name="ConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="PrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:Prestamo" />
  </wsdl:message>
  <wsdl:message name="PrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:PrestamoResponse" />
  </wsdl:message>
  <wsdl:portType name="Servicio_x0020_BibliotecaSoap">
    <wsdl:operation name="InsertarCliente">
      <wsdl:input message="tns:InsertarClienteSoapIn" />
      <wsdl:output message="tns:InsertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <wsdl:input message="tns:NuevoLibroSoapIn" />
      <wsdl:output message="tns:NuevoLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <wsdl:input message="tns:ConsultaSoapIn" />
      <wsdl:output message="tns:ConsultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Prestamo">
      <wsdl:input message="tns:PrestamoSoapIn" />
      <wsdl:output message="tns:PrestamoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Servicio_x0020_BibliotecaSoap" type="tns:Servicio_x0020_BibliotecaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://LocalHost/WebServiceBiblioteca/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <soap:operation soapAction="http://LocalHost/WebServiceBiblioteca/NuevoLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://LocalHost/WebServiceBiblioteca/Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prestamo">
      <soap:operation soapAction="http://LocalHost/WebServiceBiblioteca/Prestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Servicio_x0020_BibliotecaSoap12" type="tns:Servicio_x0020_BibliotecaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://LocalHost/WebServiceBiblioteca/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <soap12:operation soapAction="http://LocalHost/WebServiceBiblioteca/NuevoLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <soap12:operation soapAction="http://LocalHost/WebServiceBiblioteca/Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prestamo">
      <soap12:operation soapAction="http://LocalHost/WebServiceBiblioteca/Prestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio_x0020_Biblioteca">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para biblioteca</wsdl:documentation>
    <wsdl:port name="Servicio_x0020_BibliotecaSoap" binding="tns:Servicio_x0020_BibliotecaSoap">
      <soap:address location="http://localhost:53880/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Servicio_x0020_BibliotecaSoap12" binding="tns:Servicio_x0020_BibliotecaSoap12">
      <soap12:address location="http://localhost:53880/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>